@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

:root {
  --bg-color: #000;
  --box-color: #202020;
  --input-bg-color: #262626;
  --text-color: #FFFFFF;
  --title-color: #40E050;
  --button-color: #40E050;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

header {
  margin: 32px auto;
  padding: 0 16px;
  max-width: 1200px;
}

h1, h2 {
  font-family: 'Palette Mosaic', cursive;
  font-size: 32px;

}

.header {
  padding: 32px;
  background-color: var(--box-color);
  border-radius: 12px;
}

.header-button {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.header-inputs {
  margin: 35px 0 76px 0 ;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.header-inputs input {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  height: 52px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  padding: 16px;
}

.btn {
 background-color: #40E050;
 width: 200px;
 font-size: 24px;
 color: var(--text-color);
 border-radius: 12px;
 border: none;
 padding: 13px 0;
}

.container {
  margin: 40px auto;
  padding: 0 16px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  justify-content: center;
}

.card {
  background-color: #202020;
  border-radius: 12px;
}

.value {
  font-size: .8rem;
  font-weight:lighter;
  font-style: italic;
}
.photo {
  width: 100%;
  height: 211px;
  object-fit: cover;
  border-radius: 12px;
}

.title {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 48px;
}

.caption {
  padding: 31px;
}
.caption h3 {
  padding-bottom: 11px;
  font-size: 24px;
}
.caption p {
  text-align: justify;
}

@media (max-width: 500px) {
  .header-button {
    align-items: center;
  }
}

@media (max-width: 375px) {
    .header-inputs {
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }
}